version: 2
jobs:
  build:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - run: wget -c https://github.com/rust-lang/mdBook/releases/download/v0.3.5/mdbook-v0.3.5-x86_64-unknown-linux-gnu.tar.gz;tar -vzxf mdbook*.tar.gz
      - run: sudo npm install -g surge
      - run: ./mdbook init --force docs;cp -varf `ls | grep -v docs` docs/src/;mv -v docs/src/book.toml docs/
      - run: cd docs/;../mdbook build
      - run: surge docs/book --token $SURGE_TOKEN
workflows:
  version: 2
  build_and_test:
    jobs:
      - build