name: Surge
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: peaceiris/actions-mdbook@v1
      - run: |
          mdbook init --force docs;cp -varf `ls | grep -v docs` docs/src/
          mv -v docs/src/book.toml docs/
          cd docs/
          mdbook build
      - uses: dswistowski/surge-sh-action@v1
        with:
          domain: 'xfscripts.rauldipeas.tk'
          project: 'docs/book'
          login: ${{ secrets.SURGE_LOGIN }}
          token: ${{ secrets.SURGE_TOKEN }}
      - uses: rzr/fediverse-action@master
        with:
          access-token: ${{ secrets.MASTODON_ACCESS_TOKEN }}
          message: "Acabei de fazer uma atualização no XFScripts, não deixe de conferir!
          https://github.com/${{ github.repository }}/commit/${{ github.sha }}
          https://xfscripts.rauldipeas.tk #xubuntu #xfscripts"
      - uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          photo: images/desktop.png
          format: markdown
          message: |
            Acabei de fazer uma atualização no XFScripts... Não deixe de conferir!
            https://github.com/rauldipeas/xfscripts/commit/{{ commit.sha }}
            https://xfscripts.rauldipeas.tk
      - name: Discord notification
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        uses: Ilshidur/action-discord@master
        with:
          args: "Acabei de fazer uma atualização no XFScripts, não deixe de conferir!"
      - name: Discord notification
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        uses: Ilshidur/action-discord@master