name: Surge
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: mikeal/npx@master
        with:
          args: webpack
      - run: |
          npx embedme scripts/apt.md
          npx embedme scripts/debs.md
      - uses: peaceiris/actions-mdbook@v1
      - run: |
          mdbook init --force xfscripts
          cp -varf `ls | grep -v xfscripts | grep -v local-build.sh` xfscripts/src/
          mv -v xfscripts/src/book.toml xfscripts/
          mdbook build xfscripts
      - uses: dswistowski/surge-sh-action@v1
        with:
          domain: 'xfscripts.rauldipeas.tk'
          project: 'xfscripts/book'
          login: ${{ secrets.SURGE_LOGIN }}
          token: ${{ secrets.SURGE_TOKEN }}
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GH_PAGES_TOKEN }}
          publish_dir: xfscripts/book
          publish_branch: gh-pages
          user_name: 'Raul Dipeas'
          user_email: 'rauldipeas@mail.com'
      - uses: rzr/fediverse-action@master
        with:
          access-token: ${{ secrets.MASTODON_ACCESS_TOKEN }}
          message: |
            Acabei de fazer uma atualização no XFScripts, não deixe de conferir!
            https://github.com/${{ github.repository }}/commit/${{ github.sha }}
            https://xfscripts.rauldipeas.tk #xubuntu #xfscripts
      - uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          photo: images/desktop.png
          format: markdown
          message: |
            Acabei de fazer uma atualização no XFScripts... Não deixe de conferir!
            https://github.com/rauldipeas/xfscripts/commit/{{ commit.sha }}
            https://xfscripts.rauldipeas.tk
      - name: Discord notification
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        uses: Ilshidur/action-discord@master
        with:
          args: "Acabei de fazer uma atualização no XFScripts, não deixe de conferir!"
      - name: Discord notification
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        uses: Ilshidur/action-discord@master