name: Surge

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Deploy no Surge
    steps:
      - uses: actions/checkout@v1
      - name: Instalação do mdBook/Surge e deploy do site
        uses: actions/setup-node@v1
        with:
          node-version: 8
      - run: sudo apt install cargo;cargo install mdbook
      - run: npm install -g surge
      - run: mdbook init --force docs;cp -varf * docs/src/;mv -v docs/src/book.toml docs/
      - run: cd docs/;mdbook build
      - run: surge docs/book --token ${{ secrets.SURGE_TOKEN }}
