name: Surge

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Deploy no Surge
    steps:
      - uses: actions/checkout@v1
      - name: Instalação do mdBook/Surge e deploy do site
        uses: actions/setup-node@v1
        with:
          node-version: 8
      - run: sudo apt install cargo;cargo install mdbook
      - run: npm install -g surge
      - run: mdbook init --force docs;cp -varf `ls | grep -v docs` docs/src/;mv -v docs/src/book.toml docs/
      - run: cd docs/;mdbook build
      - run: surge docs/book --token ${{ secrets.SURGE_TOKEN }}
      - name: Gitter webhook
        uses: joelwmale/webhook-action@master
        env:
          WEBHOOK_URL: ${{ secrets.GITTER_WEBHOOK }}
          WEBHOOK_TOKEN: ${{ secrets.GITTER_TOKEN }}
          data: "{'deployment': 'finished', 'project': 'actions'}"