name: Surge
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: peaceiris/actions-mdbook@v1
      - run: |
          mdbook init --force docs;cp -varf `ls | grep -v docs` docs/src/
          mv -v docs/src/book.toml docs/
          cd docs/
          mdbook build
      - uses: dswistowski/surge-sh-action@v1
        with:
          domain: 'xfscripts.rauldipeas.tk'
          project: 'docs/book'
          login: ${{ secrets.SURGE_LOGIN }}
          token: ${{ secrets.SURGE_TOKEN }}
      - uses: rzr/fediverse-action@master
        with:
          access-token: ${{ secrets.MASTODON_ACCESS_TOKEN }}
          message: "Acabei de fazer uma atualização no XFScripts, não deixe de conferir!
            `git log --oneline -1` https://github.com/rauldipeas/xfscripts/commit/`git log --pretty=format:'%h' -n 1`
            https://xfscripts.rauldipeas.tk #xubuntu #xfscripts ${{ steps.log.outputs.message }} ~ #FediVerseAction"