name: XFScripts(debs)
on:
  push:
    branches-ignore:
      - 'releases/**'
      - 'gh-pages/**'
    paths-ignore:
      - 'book.toml'
      - 'readme.md'
      - 'src/book.md'
      - 'src/favicon.png'
      - 'src/images/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: tools
        run: bash packages/tools.sh
      - name: tryone144/compton
        run: |
          bash packages/compton.sh
          curl -k -T \
          compton/compton*.deb \
          -u "${{ secrets.NEXTCLOUD_ID }}" \
          -H "X-Requested-With: XMLHttpRequest" \
          https://my.opendesktop.org/public.php/webdav/compton.deb
      - name: bulletmark/linput-gestures
        run: |
          bash packages/libinput-gestures.sh
          curl -k -T \
          libinput-gestures/libinput*.deb \
          -u "${{ secrets.NEXTCLOUD_ID }}" \
          -H "X-Requested-With: XMLHttpRequest" \
          https://my.opendesktop.org/public.php/webdav/libinput-gestures.deb
      - name: libcheck/check
        run: |
          bash packages/check.sh
          curl -k -T \
          check/check*.deb \
          -u "${{ secrets.NEXTCLOUD_ID }}" \
          -H "X-Requested-With: XMLHttpRequest" \
          https://my.opendesktop.org/public.php/webdav/check.deb
      - name: davatorium/rofi
        run: |
          bash packages/rofi.sh
          curl -k -T \
          rofi/rofi*.deb \
          -u "${{ secrets.NEXTCLOUD_ID }}" \
          -H "X-Requested-With: XMLHttpRequest" \
          https://my.opendesktop.org/public.php/webdav/rofi.deb
      - name: dreamcat4/skippy-xd
        run: |
          bash packages/skippy-xd.sh
          curl -k -T \
          skippy-xd/skippy-xd*.deb \
          -u "${{ secrets.NEXTCLOUD_ID }}" \
          -H "X-Requested-With: XMLHttpRequest" \
          https://my.opendesktop.org/public.php/webdav/skippy-xd.deb
      - uses: rzr/fediverse-action@master
        with:
          access-token: ${{ secrets.MASTODON_ACCESS_TOKEN }}
          message: |
            Pacotes novos do XFScripts acabam de ser compilados, atualize seu sistema!
            http://my.opendesktop.org/s/xsJkwQQqXzM5rBB
            https://xfscripts.rauldipeas.tk #xubuntu #xfscripts
      - uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            Pacotes novos do XFScripts acabam de ser compilados... Atualize seu sistema!
            http://my.opendesktop.org/s/xsJkwQQqXzM5rBB
            https://xfscripts.rauldipeas.tk
      - uses: Ilshidur/action-discord@master
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        with:
          args: "Pacotes novos do XFScripts acabam de ser compilados, atualize seu sistema!
            http://my.opendesktop.org/s/xsJkwQQqXzM5rBB"