name: XFScripts(debs)
on:
  push:
    branches-ignore:
      - 'releases/**'
    paths-ignore:
      - '_config.yml'
      - 'book.md'
      - 'book.tml'
      - 'favicon.png'
      - 'readme.md'
      - 'images/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: tools
        run: bash packages/tools.sh
      - name: tryone144/compton
        run: |
          bash packages/compton.sh
          curl -k -T \
          compton/compton*.deb \
          -u "${{ secrets.NEXTCLOUD_ID }}" \
          -H "X-Requested-With: XMLHttpRequest" \
          https://my.opendesktop.org/public.php/webdav/compton.deb
      - name: bulletmark/linput-gestures
        run: |
          bash packages/libinput-gestures.sh
          curl -k -T \
          libinput-gestures/libinput*.deb \
          -u "${{ secrets.NEXTCLOUD_ID }}" \
          -H "X-Requested-With: XMLHttpRequest" \
          https://my.opendesktop.org/public.php/webdav/libinput-gestures.deb
      - name: libcheck/check
        run: |
          bash packages/check.sh
          curl -k -T \
          check/check*.deb \
          -u "${{ secrets.NEXTCLOUD_ID }}" \
          -H "X-Requested-With: XMLHttpRequest" \
          https://my.opendesktop.org/public.php/webdav/check.deb
      - name: davatorium/rofi
        run: |
          bash packages/rofi.sh
          curl -k -T \
          rofi/rofi*.deb \
          -u "${{ secrets.NEXTCLOUD_ID }}" \
          -H "X-Requested-With: XMLHttpRequest" \
          https://my.opendesktop.org/public.php/webdav/rofi.deb
      - name: dreamcat4/skippy-xd
        run: |
          bash packages/skippy-xd.sh
          curl -k -T \
          skippy-xd/skippy-xd*.deb \
          -u "${{ secrets.NEXTCLOUD_ID }}" \
          -H "X-Requested-With: XMLHttpRequest" \
          https://my.opendesktop.org/public.php/webdav/skippy-xd.deb
      - name: hanschen/ksuperkey
        run: |
          bash packages/ksuperkey.sh
          curl -k -T \
          ksuperkey/ksuperkey*.deb \
          -u "${{ secrets.NEXTCLOUD_ID }}" \
          -H "X-Requested-With: XMLHttpRequest" \
          https://my.opendesktop.org/public.php/webdav/ksuperkey.deb
      - name: cympfh/mastodon-cli
        run: |
          sudo add-apt-repository -y ppa:libreoffice/ppa
          sudo apt install -y jq libreoffice-core-nogui
          sudo ln -sv /usr/lib/libreoffice/program/uri-encode /usr/local/bin/
          git clone https://github.com/cympfh/mastodon-cli
          cd mastodon-cli/bin
          wget -O mast-auth.zip http://my.opendesktop.org/s/z8inTWEmALDMmaA/download
          unzip mast-auth.zip -d ~/
          git clone https://github.com/rauldipeas/xfscripts
          cd xfscripts
          ../mast toot "Pacotes novos do XFScripts acabam de ser compilados, atualize seu sistema!
            http://my.opendesktop.org/s/xsJkwQQqXzM5rBB
            https://xfscripts.rauldipeas.tk #xubuntu #xfscripts"
      - uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            Pacotes novos do XFScripts acabam de ser compilados... Atualize seu sistema!
            http://my.opendesktop.org/s/xsJkwQQqXzM5rBB
            https://xfscripts.rauldipeas.tk